%main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

%section-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

%main-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
}

%main-text-bold {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
}

%button-link-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

%details {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
