@use "../../styles/utils/functions" as fn;
@use "../../styles/utils/variables" as var;
@use "../../styles/utils/placeholders" as *;
@use "../../styles/utils/mixins" as mx;

.label {
  @include mx.flex-center($column: true);

  width: 308px;
  height: 184px;

  border-radius: 4px;
  border: 1px dashed #0f172a;
  background-color: fn.get-color("light");
}

.hidden {
  @extend %hidden;
}
